.grid{
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid black;
}

.box{
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0.5px inset black ;
}

.grid div {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0.5px inset black ;
    
}

